/* Description css start */
@import url(./__brief/two-columns__brief.css);
@import url(./__main-text/two-columns__main-text.css);
@import url(./__paragraph/two-columns__paragraph.css);
@import url(__span-accent/two-columns__span-accent.css);
@import url(./__two-columns/two-columns.css);
.description{
    margin: 100px auto;
}

/* Description css end */
