/* Description css start */
@import url(./__brief/two-columns__brief.css);
@import url(./__main-text/two-columns__main-text.css);
@import url(./__paragraph/two-columns__paragraph.css);
@import url(./__span-bold/two-columns__span-bold.css);
@import url(./__two-columns/two-columns.css);
.description{
    margin: 100px auto;
    width: 80%;
}

/* Description css end */
