.feynman__link{
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 2;
    opacity: .5;
    transition: opacity 1s ease-in-out;
}
.feynman__link:hover{
    opacity: 1;
}