@import url("./_theme/section-title_theme_dark.css");
.section-title{
    line-height: 69px;
    font-size: 60px;
    font-weight: 700;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}