.feynman__main-illustration{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
    background-image: url("../../../images/feynman.png");
    background-repeat: no-repeat;
    background-size: cover;
}