/* feynman css start */
@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__main-illustration/feynman__main-illustration.css);
@import url(./__link/feynman__link.css);
.feynman{
    background: #f2f2f2;
    padding-top: 100px;
    height: 890px;
    position: relative;
}
/* feynman css end */


