/* feynman css start */
@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);
.feynman{
    background-color: #f2f2f2;
    padding-top: 100px;
    height: 890px;
    position: relative;
    box-sizing: border-box;
    background-image: url("../../images/feynman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
/* feynman css end */


