@import url("./_theme/section-subtitle_theme_dark.css");
.section-subtitle{
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}