@import url("./__card__description/techniques-cards__description.css");
@import url("./__cards__title/techniques-cards__title.css");
@import url("./__cards__item/techniques-cards__item.css");
@import url("./__cards__image/techniques-cards__image.css");
@import url("./__cards/technique__cards.css");
.techniques{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}