/* Kaufman css start */
@import url("./__triangle/kaufman__triangle.css");
.kaufman{
    padding: 90px 0;
    background: #1f1f1f;
    position: relative;
    overflow: hidden;
}
/* Kaufman css end */

