@keyframes rotation-clockwise {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.rotation{
    animation: rotation-clockwise 20s linear infinite;
}