.table_theme_dark{
    position: relative;
    z-index: 1;
}

.table__heading_theme_dark, .table__text_theme_dark{
    color: #ffffff;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}