.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background: #F2F2F2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2F80ED;
    position: absolute;
    top: 0;
    right: 0;
}
.header__main_illustration{
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.logo_place_header{
    position: absolute;
    top: 30px;
    left: 64px;
    height: 31px;
}

.header__title{
    margin-left: 64px;
    max-width: 730px;
    width: 100%;
    line-height: 96px;
    font-size: 102px;
    font-weight: 700;
}

.header__subtitle{
    position: absolute;
    bottom: 30px;
    left: 64px;
    max-width: 388px;
    width: 100%;
    line-height: 25px;
    font-size: 18px;
}

.header__link{
    color: #2F80ED;
    text-decoration: none;
}