@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/description/description.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/section__common/section_common.css);
@import url(../blocks/table/table.css);
*{
    box-sizing: border-box;
}
ul, p, h1, h3, h4, h5, h6, body{
    margin: 0;
    padding: 0;
}
















