*{
    box-sizing: border-box;
}
ul, p, h1, h3, h4, h5, h6, body{
    margin: 0;
    padding: 0;
}
.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background: #f2f2f2;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}
.header__main-illustration{
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.logo_place_header{
    position: absolute;
    top: 30px;
    left: 64px;
    width: 154px;
    height: 31px;
}

.header__title{
    margin-left: 64px;
    max-width: 730px;
    width: 100%;
    line-height: 96px;
    font-size: 102px;
    font-weight: 700;
}

.header__subtitle{
    position: absolute;
    bottom: 30px;
    left: 64px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
}

.header__link{
    color: #2f80ed;
    text-decoration: none;
}
/* Header css end */

/* Description css start */
.description{
    margin: 100px auto;
    width: 80%;
}

.two-columns{
    display: flex;
    justify-content: space-between;
}

.two-columns__brief{
    margin-top: 0;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    color: #2f80ed;
}

.two-columns__main-text{
    min-width: 784px;
    width: 80%;
}

.two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.two-columns__paragraph:last-child{
    margin-bottom: 0;
}

.two-columns__span-bold{
    font-weight: 700;
}
/* Description css end */

/* Digits css start */
.digits{
    margin: 100px auto;
}

.section-title{
    line-height: 69px;
    font-size: 60px;
    font-weight: 700;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.section-subtitle{
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}
.table__cell{
    width: 250px;
    margin-top: 60px;
}
.table__heading{
    line-height: 1.15;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.table__text{
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
}
/* Digits css end */

/* feynman css start */
.feynman{
    background: #f2f2f2;
    padding-top: 100px;
    min-height: 890px;
    position: relative;
}

.feynman__main-illustration{
    position: absolute;
    bottom: 0;
    left: 0;
}

.feynman__title{
    line-height: 1.15;
    font-size: 120px;
    font-weight: 700;
    max-width: 785px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.feynman__subtitle{
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
    margin-top: 70px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.feynman__link{
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 2;
}
/* feynman css end */

/* Kaufman css start */
.kaufman{
    padding: 90px 0;
    background: #1f1f1f;
    position: relative;
    overflow: hidden;
}

.kaufman__main-text{
    position: relative;
    z-index: 1;
}

.section__title_theme_dark,.section__subtitle_theme_dark ,
.table__heading_theme_dark, .table__text_theme_dark{
    color: #ffffff;
}
.table_theme_dark{
    position: relative;
    z-index: 1;
}

.table__cell_theme_dark{
    max-width: 200px;
    margin-top: 80px;
}

.kaufman__triangle{
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
}
/* Kaufman css end */

/*Footer css start*/
.footer{
    padding: 60px 0 40px 0;
    background-color: #1f1f1f;
    min-height: 350px;
}

.footer__columns{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer__column{
    min-height: 250px;
}

.footer__column_content_copyright{
    flex-basis: 711px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.logo_place_footer{
    max-width: 183px;
    width: 100%;
    max-height: 35px;
}

.footer__column-links{
    list-style: none;
    margin-bottom: 16px;
}

.footer__column-heading{
    color: #ffffff;
    line-height: 45px;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.footer__author, .footer__link{
    color: #4f4f4f;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

.footer__link{
    text-decoration: none;
}

.footer__social-icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.footer__author{
    line-height: 25px;
    margin: 18px 0;
    max-width: 90%;
}
/*Footer css end*/
















