@keyframes fade_in_out {
    0%{
        opacity: 1;
        margin-right: 0;
        margin-left: 0;
        /*left: 0;*/
    }
    50%{
        opacity: .5;
        margin-right: -10px;
        margin-left: 10px;
        /*left: 10px;*/
    }
    100%{
        opacity: 1;
        margin-right: 0;
        margin-left: 0;
        /*left: 0;*/
    }
}
.link__animation:hover{
    animation: fade_in_out .8s linear infinite;
}