.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    color: #2f80ed;
    text-decoration: none;
    opacity: .5;
    transition: opacity 1s ease-in-out;
}
.khan__buy-link:hover{
    opacity: 1;
}