.khan__book-pic{
    width: 620px;
    height: 608px;
    background-image: url("../../../images/book.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}